.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #686EE2;
}

.header-section {
    -fx-padding: 10px;
    -fx-font-size: 20px;
	-fx-background-color: #5C3E84;
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}

Button {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-padding: 10px;
}

.sidebar-section {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent transparent transparent;
	-fx-background-color: #F35C6E;
}

.sidebar-section Label {
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 0 5 1 0;
    -fx-border-color: transparent #5C3E84 #5C3E84 transparent;
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-cursor: hand;
}

.content-section {
    -fx-padding: 10 20 10 20;
    -fx-wrap-text: true;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent transparent transparent;
}

.content-section #content-header {
	-fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: 700;
}

.content-section #content {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
	-fx-text-fill: #ffffff;
}

.footer-section {
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent transparent transparent;
	-fx-background-color: #5C3E84;
}

.footer-section Text {
	-fx-fill: #ffffff;
}

.footer-section Hyperlink {
   -fx-text-fill: #C0C0C0;
}

.footer-section Hyperlink:hover {
   -fx-text-fill: #eeeeee;
}

.input-area {
    -fx-padding: 10px;
    -fx-wrap-text: true;
}

.input-area TextField {
	-fx-background-color: #F35C6E;
	-fx-text-fill: #ffffff;
	-fx-prompt-text-fill: gray;
}

.input-area #content-header {
	-fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: 700;
}

.input-area #content-text {
	-fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
}